
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
.text-header{
    width: 100%;
    white-space: nowrap;
    overflow:hidden;
    animation: 
        typing 2s steps(18), cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50% {border-color: transparent}
    
}
@keyframes typing{
    from {width:0}
}

body{
    background: #0f0f0f;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image:url(images/cover-01.png) ;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10% 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    height: 145px;
    width: 145px;
}
nav ul li {
    display: inline-block;
    list-style:  none;
    margin: 10px 20px;
}
nav ul li a{
     color: white;
     text-decoration: none;
     font-size: 20px;
     font-weight: bold;
     position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.text-header{
    margin-top: 20%;
    font-size: 30px;
}
.text-header h1{
    font-size: 60px;
    margin-top: 20px;
    font-weight: bold;
    
}
.text-header h1 span{
   color: #a06be3;
    
}
.text-header p{
    font-size: 20px;
    font-weight: 600;
}

/* about */

#about{
    padding: 80px 0;
    color: #685151;
    background-color: white;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis:60%;
}
.subt-title{
    font-size:60px;
    font-weight: 600;
    color: rgb(255, 0, 170);
}
.table-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    
    font-weight: 700;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(196, 9, 102);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li span {
    color: rgb(238, 24, 124);
    font-size: 20px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block ;
}

/*services*/

#services{
    padding: 30px 0;
    background-color: black;
    color: rgb(238, 24, 209);
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.services-list p{
    color: #d1c4c4;
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    
    transition: background 0.5s, transform 0.5s;
    border-radius: 10px;
}
.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
    
}

.services-list div h2{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #490e3a;
    transform: translateY(-10px);
}


/* porfolio*/


#portfolio{
    padding: 50px 0;
    
    
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: white;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(31, 20, 20, 0.514),#df0e99);
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 19px;
    transition:height 0.5s;
}
.layer h3{
    font-weight:500 ;
    margin-bottom: 20px;
    
}
.layer a{
    margin-top: 20px;
    color: #a06be3;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
}
.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #0f0f0f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.btn:hover{
    background-color: #c70845;
    color: white;
}
#contacts{
    background-color: black;
    color: white;
   
}
.contact-left{
    font-size: 30px;
    font-weight: 500;
    padding-top: 40px;
}

.contact-left h1 p{
    padding-top: 20px;
}
